asgiref==3.11.0
cachetools==6.2.4
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
defusedxml==0.7.1
Django==5.2.9
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.45.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.72.0
httplib2==0.31.0
idna==3.11
joblib==1.5.3
nltk==3.9.2
proto-plus==1.27.0
protobuf==6.33.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.3.1
pyphen==0.17.2
python-dotenv==1.2.1
regex==2025.11.3
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.5
textstat==0.7.12
tqdm==4.67.1
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.2
youtube-transcript-api==1.2.3
